@font-face {
    font-family: strive;
    src: url('fonts/Impact - Strive.otf')
}

.bar_container {
    width:100%;
    margin-bottom: 15px;
    background-repeat:no-repeat;
    min-width: 0;
    display:flex;
    justify-content:center;
}

.p1 {
    display: flex;
    justify-content: flex-end;
    background-position:right, left;
}

.p2 {
    display: flex;
    justify-content: flex-start;
    background-position:left, right;
}

.curr_dmg {
    background-image: linear-gradient(#b20300, #b20300);
    background-size: var(--cd_w, 100%) 100%;
}

.bar_text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: strive;
    font-size: 20px;
    min-width: 0;
    text-shadow:
    1px 1px 0 white,
    -1px 1px 0 white,
    -1px -1px 0 white,
    1px -1px 0 white;
}

.p1_health {
    background-image:
     linear-gradient(to right,  #f3e1bc , #f29488 );
    width: var(--w, 50%);
    min-width: 0;
}

.p2_health {
    background-image:
     linear-gradient(to left,  #f3e1bc , #f29488 );
    width: var(--w, 50%);
    min-width: 0;
}

.p1_burst {
    background-image:
     linear-gradient(to right,  #0a80ce , #1ca5e7 );
    width: var(--w, 50%);
    min-width: 0;
}

.p2_burst {
    background-image:
     linear-gradient(to left,  #0a80ce , #1ca5e7 );
    width: var(--w, 50%);
    min-width: 0;
}

.p1_tension {
    background-image:
     linear-gradient(to right,  #ffff9d , #ffffff );
    width: var(--w, 50%);
    min-width: 0;
}

.p2_tension {
    background-image:
     linear-gradient(to left,  #ffff9d , #ffffff );
    width: var(--w, 50%);
    min-width: 0;
}

.bar_label {
    display: block;
    text-align: center;
    width:10%;
    line-height: 150%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: strive;
    font-size: 28px;
    text-shadow:
    2px 2px 0 black,
    -2px 2px 0 black,
    -2px -2px 0 black,
    2px -2px 0 black;
}

.spell_background {
    background-image: url(images/spells/spell_background.png);
    padding: 0;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 100%;
    margin-bottom: 1%;
    position: relative;
    width:30%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spell {
    width: 25%;
    display: block;
    height: auto;
    padding:0;
}

.spell_label{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: strive;
    font-size: 30px;
    width:15%
}

.main_heart{
    width: auto;
    height: 50%;
}

.sub_heart {
    width: auto;
    height: 35%;
}

.heart_container {
    height:25%
}

.player_name_container {
    display: flex;
    justify-content: center;
}

.player_name {
    text-align: center;
    font-family: strive;
    font-size: 25px;
}

.player_name_overlay {
    text-align: center;
    font-family: strive;
    font-size: 30px;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.name_shadow {
    text-shadow:
        3px 3px 0 var(--outline, #000),
        -3px 3px 0 var(--outline, #000),
        -3px -3px 0 var(--outline, #000),
        3px -3px 0 var(--outline, #000);
}

.player_portrait_container {
    display: flex;
    justify-content: center;
    position: relative;
}

.player_portrait {
    object-fit: contain;
    width: 100%;
    height: auto;
    max-width: 256px;
    max-height: 256px;
}

.win_prob_bar {
    background-image:
        linear-gradient(rgba(239, 85, 59) ,rgba(239, 85, 59)),
        linear-gradient(rgb(99, 110, 250),rgb(99, 110, 250));
    background-size: var(--w, 25%), 100%, 100%, 100%;
    background-position:left, right;
    background-repeat:no-repeat;
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 95%
}